.overview-wrapper{
    display: none; /* Hide by default */
    /* display: flex; */
    flex-direction: row;
    height: 100%;
    border-radius: 12px;
    /* height: 100vh; */
}

.overview-side-panel {
    /* width: 50%; */
    height: 100%; /* Adjusted to 100% to match parent height */
    /* outline: 1px solid #343437; */
    background: #16161782;
    flex-shrink: 0;
    border-radius: 12px;
    margin: 0 0.5rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.overview-main-panel {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    border-radius: 12px;
    margin: 0 0.5rem;
    /* flex-shrink: 0; */
}

.overview-top-section, .overview-bottom-section {
    flex: 1; /* Splits the remaining height equally */
    /* outline: 1px solid #343437; */
    background: #16161782;
    border-radius: 12px;
}

.overview-bottom-section {
    margin-top: 1em;
}

#portsimsummarydiv button:hover {
    background-color: #555; /* Slightly lighter on hover for interactivity */
}

#portsimsummarydiv label {
    color: #f1f1f1; /* Light text for visibility */
    margin-right: 5px;
}

.portsummary-scrollable-table-container {
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
    /* overflow-x: hidden; */ /* Prevents horizontal scrolling */
    margin-top: 1vh;
}



#portsimholdingsdiv button:hover {
    background-color: #555; /* Slightly lighter on hover for interactivity */
}

#portsimholdingsdiv label {
    color: #f1f1f1; /* Light text for visibility */
    margin-right: 5px;
}

.portholdings-scrollable-table-container {
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
    /* overflow-x: hidden; */ /* Prevents horizontal scrolling */
    margin-top: 1vh;
}


.overview-wrapper {
    /* display: flex; */
    flex-direction: row;
    height: 100vh; /* Set a specific height, e.g., 100vh for full viewport height */
    border-radius: 12px;
    overflow: hidden; /* To ensure child elements don't overflow */
}

.overview-main-panel {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allocate space dynamically */
    height: 100%; /* Height set to 100% of the parent */
    /* ... other styles ... */
    min-width: 0; /* Add this */
    overflow: hidden; /* And/or this */
}

.overview-top-section, .overview-bottom-section {
    flex: 1; /* Splits the height equally */
    flex-direction: column;
    overflow-y: hidden; /* Makes section scrollable */
    height: 100%;
    display: flex;
}

.portholdings-scrollable-table-container,
.portsummary-scrollable-table-container {
    max-height: 100%; /* Adjust to 100% of parent */
    /* overflow-y: hidden; */ /* Enable vertical scrolling */
}

#summary-list {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2;    /* Firefox */
    column-count: 2;         /* Standard syntax */
    
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px;    /* Firefox */
    column-gap: 20px;         /* Standard syntax */
}


#graphDivMajorIndicies{
    display: flex !important;
    border-radius: 8px;
    /* background: #28282ac7; */
    margin: 0 auto;
    flex-grow: 1;
}

#graphDivHeatmap{
    display: flex !important;
    border-radius: 8px;
    /* background: #28282ac7; */
    margin: 0 auto;
    flex-grow: 1;
}

#gainerswatchlistdiv label {
    color: #f1f1f1; /* Light text for visibility */
    margin-right: 5px;
  }

  #gainerswatchlistdiv button:hover {
    background-color: #555; /* Slightly lighter on hover for interactivity */
  }
  
  #gainerswatchlistdiv label[for="minOverallRecordPct"] {
    padding: 10px;
    display: inline-block; /* This makes padding effective */
    color: #f1f1f1;
    margin-right: 5px;
  }

  .scrollable-table-container {
    max-height: 70vh; /* Adjust the height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
    overflow-x: auto; /* Prevents horizontal scrolling */
    margin-top: 1vh;
  }
  
  /* Style the scrollbar track (background) */
  .scrollable-table-container::-webkit-scrollbar-track {
    background-color: #2e2e2e; /* Dark track background */
    /* border-radius: 10px; /* Rounded corners for the track */
  }
  
  /* Style the scrollbar thumb (the moving part) */
  .scrollable-table-container::-webkit-scrollbar-thumb {
    background-color: #555; /* Darker color for the thumb */
    /* border-radius: 10px; /* Rounded corners for the thumb */
    border: 3px solid #2e2e2e; /* Match the track's color */
  }
  
  /* Handle hover over the scrollbar thumb */
  .scrollable-table-container::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Slightly lighter on hover */
  }
  
  /* Set the width (or height for horizontal scrollbars) */
  .scrollable-table-container::-webkit-scrollbar {
    width: 11px; /* Width of the scrollbar */
    height: 11px; /* Height (necessary for horizontal scrollbars) */
  }